<p id="notice"><%= notice %></p>


<body>

<div >
<!-- this is a div for the nav bar -->
 <div id="top">
     <%= render 'layouts/header' %>

  </div>
    <!-- div for displaying title -->
    <div class="row" id="featuredeventstitle">
        <p>Featured Events</p>
  </div>
  <div class="row" style="margin-left:50px;">
        <p>click the box of your choice to view more details</p>
  </div>

  <!-- <div class="row" >
    <div class="col-sm-4" id="event1">
     <img src="assets/bussiness.jpg" class="img-rounded"  width="304" height="236">
      
    </div>
    <div class="col-sm-4" id="event2" >
    <img src="assets/grooveimg.png" class="img-rounded"  width="304" height="236">
      
    </div>
    <div class="col-sm-4" id="event3">
    <img src="assets/saflive.jpg" class="img-rounded"  width="304" height="236">
      
    </div>
  </div> -->
  </div>


<div class="box">
<div class="row" id="featuredevents" >

  
  <% @events.each do |event| %>


  <div class= "col-md-3 unique" i>
       <!-- <div style="height:100px, width:200px">
         
       </div> -->
      
        <%= link_to (image_tag event.image.url) , event.url %><br>
       <div class="row titlediv"style="height:50px, width:50px">
         <%= event.title %>
       </div> 
        
       <!--  <%= link_to 'Show', event %> -->

        
   </div>
<% end %>
</div>


 </div>



</body>